# Anil Kumar

Q. Declare an float value and store it in a variable.
Check the type and print the id of the same.

In [1]:
a=10.2
print(type(a))
id(a)

<class 'float'>

2347792729744

Q. Arithmetic Operations on float  
Take two different float values.  
Store them in two different variables.  
Do below operations on them:-  
Find sum of both numbers  
Find difference between them  
Find the product of both numbers.  
Find value after dividing first num with second number  
Find the remainder after dividing first number with second number  
Find the quotient after dividing first number with second number  
Find the result of the first num to the power of the second number.

In [2]:
# Assign variable
a=10.1
b=3.2

In [3]:
# Sum
c=a+b
print(f"sum of {a} and {b} is {c}")

sum of 10.1 and 3.2 is 13.3

In [4]:
# Diff
c=a-b
print(f"Difference of {a} and {b} is {c}")

Difference of 10.1 and 3.2 is 6.8999999999999995

In [5]:
# Product
c=a*b
print(f"Product of {a} and {b} is {c}")

Product of 10.1 and 3.2 is 32.32

In [6]:
#Division
c=a/b
print(f"Division of {a} by {b} is {c:.2f}")

Division of 10.1 by 3.2 is 3.16

In [7]:
# Remainder
c=a%b
print(f"Remainder of {a}/{b} is {c}")

Remainder of 10.1/3.2 is 0.4999999999999991

In [8]:
# Quotient
c=a//b
print(f"Quotient of {a}/{b} is {c}")

Quotient of 10.1/3.2 is 3.0

In [9]:
# Power
c=a**b
print(f"{a}^{b} is {c}")

10.1^3.2 is 1636.1698896672158

Q. Comparison Operators on float  
Take two different float values.  
Store them in two different variables.  
Do below operations on them:-  
Compare se two numbers with below operator:-  
Greater than, '>'  
Smaller than, '<'  
Greater than or equal to, '>='  
Less than or equal to, '<='  
Observe their output(return type should be boolean)

In [18]:
# Assign variable
a=10.5
b=3.5

In [19]:
a>b

True

In [20]:
a<b

False

In [21]:
a>=b

True

In [22]:
a<=b

False

Q. Equality Operator  
Take two different float values.   
Store them in two different variables.  
Equate them using equality operators (==, !=)  
Observe the output(return type should be boolean)

In [26]:
# Assign variable
a=10.1
b=3.2

In [27]:
a==b

False

In [28]:
a!=b

True

Q. Logical operators  
Observe the output of below code  
Cross check the output manually

In [29]:
print ( 10.20 and 20.30 )

20.3

In [30]:
print ( 0.0 and 20.30 )

0.0

In [31]:
print ( 20.30 and 0.0 )

0.0

In [32]:
print ( 0.0 and 0.0 )

0.0

In [33]:
print ( 10.20 or 20.30 )

10.2

In [34]:
print ( 0.0 or 20.30 )

20.3

In [35]:
print ( 20.30 or 0.0 )

20.3

In [36]:
print ( 0.0 or 0.0 )

0.0

In [37]:
print ( not 10.20 )

False

In [38]:
print ( not 0.0 )

True

Q. What is the output of expression inside print statement. Cross check
before running the program.  
a = 10.20  
b = 10.20  
print (a is b) #True or False? True 10.20<256  
print (a is not b) #True or False? False  
Why the Id of float values are different when the same value is
assigned to two different variables  
ex: a = 10.5 b=10.5. but id will be same if I assign the variable  
having float i.e. a=c then both a and c's Id are same

In [ ]:
a = 10.20
b - 10.20

In [39]:
print(a is b)

False

In [40]:
print(a is not b)

True

In [41]:
id(a)

2347793108208

In [42]:
id(b)

2347793108880

In [45]:
# Id of float number is different because there can be infinite number possible between -5 to 256, 
# so storing them previously is not possible

Q. Bitwise operation is not applicable between instances of float.
Why the Id of float values are different when the same value is
assigned to two different variables
ex: a = 10.5 b=10.5. but id will be same if I assign the variable
having float i.e. a=c then both a and c's Id are same
Object reusability concept is not applicable on float values.

In [ ]:
# The id is same when a=c because both variable is pointing same memory location

Q. Membership operation  
in, not in are two membership operators and it returns boolean value

In [46]:
print ( '2.7' in 'Python2.7.8' ) #True
print ( 10.20 in [ 10 , 10.20 , 10 + 20j , 'Python' ]) #True
print ( 10.20 in ( 10 , 10.20 , 10 + 20j , 'Python' )) # True
print ( 20.30 in { 1 , 20.30 , 30 + 40j }) # True
print ( 2.3 in { 1 : 100 , 2.3 : 200 , 30 + 40j : 300 }) # True
print ( 10 in range ( 20 )) # True

True
True
True
True
True
True